h1 { 
	color: red;	
}
h2 {
	color: blue;	
}
body {
	background: url("http://www.twitterevolutions.com/bgs/colorful-universe-twitter-background.jpg");
	background-size: cover;
}
h3 {
	color: green;
}	
